
.main {
    position: sticky;
    top: 60px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    background: var(--background-0);
    z-index: 1;
}

.main h2 {
    margin-top: 100px;
    padding-bottom: 50px;
    font-size: 5rem;   
    font-weight: 1000;
    color: var(--highlight-color-a);
}
.main h3 {
    position: absolute;
    top: 150px;
    font-weight: 800;
    font-size: 3rem;
    color: var(--font-color);
}
.main p {
    font-size: 1.25rem;
    margin-bottom: 5px;
    color: var(--font-color-1);
}

.main div {
    width: 200px;
    height: 200px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--background-1);
    animation: shake 4s infinite ease-in-out;
    transform-origin: center center;
}
@keyframes shake {
  0%   { transform: rotate(2.5deg); }
  50%  { transform: rotate(-2.5deg); }
  100% { transform: rotate(2.5deg); }
}
.main div img {
    width: 230px;
    height: 230px;
}
.main svg {
    font-size: 3rem;
    margin-top: auto;
    color: var(--highlight-color);
    transform: translateY(-110px);
    animation: updown 1s infinite ease-in-out;
}
@keyframes updown {
    0% { transform: translateY(-110px); }
    50% { transform: translateY(-115px); }
    100% { transform: translateY(-110px); }
}